@charset "UTF-8";

@media screen and (min-width: 768px) {

    /**fundo**/

    body,
    body#contato,
    body#atendimento,
    body#depoimentos {
        background: none;
    }

    main {
        width: 80vw;

    }


    /**fundo foto**/

    main#foto_sobre {
        background-image: url('../imagens/fundo_smart.jpg');
        background-size: 50vw;
        background-position: top center;
        background-attachment: scroll;
        background-repeat: no-repeat;

    }

    main#foto_atendimento {
        background-image: url('../imagens/atendimentos.jpg');
        background-size: 50vw;
        background-position: top center;
        background-attachment: scroll;
        background-repeat: no-repeat;

    }


    main#foto_depoimentos {
        background-image: url('../imagens/depoimentos.jpg');
        background-size: 50vw;
        background-position: top center;
        background-attachment: scroll;
        background-repeat: no-repeat;

    }



    main#foto_contato {
        background-image: url('../imagens/depoimentos.jpg');
        background-size: 50vw;
        background-position: top center;
        background-attachment: scroll;
        background-repeat: no-repeat;

    }

    /**cabeçalho**/

    header {
        height: 75px;
    }

    header>h1 {
        position: relative;
        font-size: 3.5em;
        text-align: left;
        top: 35px;
        margin-left: 15px;
    }

    header>p {
        position: relative;
        text-align: center;
    }

    /**menu**/

    span#burguer {
        display: none;
    }


    menu {
        display: block;

    }

    nav>menu>ul>li {
        display: inline-block;
        margin-right: -4px;
        padding-top: 25.5px;
        padding-bottom: 25.5px;
        padding-left: 20px;
        padding-right: 20px;

    }

    nav>menu {
        margin-right: 20px;
    }

    /**sobre**/


    main>section#sobre p {

        font-size: 1em;
        padding: 20px;

    }

    main>section#sobre h1 {

        font-size: 4em;


    }


    main>section#sobre {


        position: fixed;
        width: 60vw;
        top: 65%;
        margin: auto;

    }

    /**depoimentos**/

    main>section#depoimentos {
        display: flex;
        justify-content: center;
        align-items: center;

        position: fixed;
        right: 6.6%;
        top: 45vh;


        width: 85%;
        height: 50vh;

    }

    section#depoimentos section#depoimentos1 {

        width: 23vw;
        height: 30vh;
        margin: 10px;
    }

    section#depoimentos section#depoimentos2 {


        width: 23vw;
        height: 30vh;
        margin: 10px;
    }

    section#depoimentos section#depoimentos3 {

        width: 23vw;
        height: 30vh;
        margin: 10px;

    }

    /**atendimento**/

    main#foto_atendimento>main>section {
        display: flex;
        justify-content: center;
        align-items:flex-start;
        flex-direction: column;
    
        position: fixed;
        top: 9%;
      

    main#foto_atendimento main {

        position: absolute;
        top: 0px;

    }

    main#foto_atendimento h1 {
        font-size: 1.3em;
    }

    main#foto_atendimento ul {
        font-size: 1.1em;
    }



    section.atendimentos {
        display: block;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto;
        width: 36vw;
        height: 24vh;
        padding-left: 30px;
        padding-right: 30px;
       
    }


    /**contato**/

    main#foto_contato>main {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    main>section#contato {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 20vh;

        position: fixed;
        left: 34%;
        top: 360px;

    }

    body#contato main h2 {
        display: block;
        font-size: 2em;
        text-align: center;
        position: fixed;
        top: 330px;
        color: rgb(255, 255, 255);
        margin: auto;


    }

    main#foto_contato>main>div#form{
        display: block;
        background-color: rgb(211, 77, 15);
        margin: auto;
        width: 100vw;

    }

    /**todos**/

    div#whattsap {
        width: 58px;
        height: 58px;

        position: fixed;
        left: 94%;
        bottom: 10%;

    }

    footer {
        width: 100vw;
    }
}